.registerContainer {
  width: 300px;
  height: 250px;
  padding: 20px;
  border-radius: 10px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 0, 128);
  font-weight: 700;
}
.registerBtn {
  border: none;
  padding: 5px;
  background-color: slateblue;
  color: white;
  cursor: pointer;
}
.successLogin {
  font-size: 12px;
  color: green;
  text-align: center;
}

.failureLogin {
  font-size: 12px;
  color: rgb(255, 0, 0);
  text-align: center;
}
.registerCancel{
    top: 8px;
    position: absolute;
    right: 8px;
cursor: pointer;
color: rgb(255, 60, 60);
}
